body {
    background: #eaf3fc;
    min-height: 100vh;
    font-size: 14px;
}

/* Login Page */
#loginForm {
    position: absolute;
    z-index: 1;
    width: 500px;
    background: #fff;
    padding: 15px;
    top: 50%;
    left: 50%;
    border: 1px solid;
    border-radius: 5px;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
#loginForm .site_logo {
    position: absolute;
    top: -64px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 128px;
    height: 128px;
    border-radius: 50%;
    margin: auto;;
    padding: 5px;
    background: #fff;
    border: 1px solid;
}
#loginForm .site_logo img {
    max-width: 100%;
    border-radius: 50%;
}
#loginForm h3 {
    padding-top: 50px;
}
/* End Login Page */

/* Header Part */
.header-menu, .header-menu ul, #buildtour ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.header-menu {
    display: flex;
}
.header-menu li {
    position: relative;
}
.header-menu li a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    white-space: nowrap;
}
.header-menu ul {
    position: absolute;
    z-index: 1;
    display: none;
}
.header-menu ul a {
    min-width: 150px;
}
.header-menu>li>ul {
    top: 100%;
}
.header-menu>li:last-child>ul {
    right: 0;
}
.header-menu>li>ul>li>ul {
    left: 100%;
    top: 0;
}
.header-menu li:hover>ul {
    display: block;
}
.profile-heading {
    background: #f9f9f9;
    padding: 15px;
}
.profile-heading h4 {
    font-size: 18px;
    white-space: nowrap;
}
.header-profile-pic {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #ccc;
}
/* End Header Part */

/* Dashboard */
.dash-number {
    font-size: 48px;
}
.two_cols {
    column-count: 2;
    column-rule: 1px solid #ccc;
}
/* End Dashboard */

/* Pages */
.page-header {
    background: #fff;
    padding: 10px 0;
    margin-bottom: 15px;
}
.page-header h1 {
    margin: 0;
    text-transform: uppercase;
    font-size: 24px;
}
.page-header p {
    margin-bottom: 0;
}
ul.page-breadcrumb {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
ul.page-breadcrumb li {
    padding: 0 5px;
}
ul.page-breadcrumb li:first-child {
    padding-left: 0;
}
ul.page-breadcrumb li:not(.active):after {
    content: "/";
    margin-left: 10px;
}

.card {
    padding: 15px;
    margin-bottom: 30px;
}
.card h3.card-title {
    font-size: 18px;
}
.import_csv {
    margin-bottom: 0;
}
.import_csv input[type=file] {
    display: none;
}
/* End Pages */

/* Lead */
.lead_data {
    display: none;
}
/* End Lead */

/* Form Elements */
.form-control, .btn {
	border-radius: 1px;
}
.lbl {
  position: relative;
  display: block;
  height: 15px;
  width: 44px;
  background: #898989;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.lbl:after {
  position: absolute;
  left: -2px;
  top: -6px;
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 100px;
  background: #ebebeb;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.05);
  content: '';
  transition: all 0.3s ease;
}
.lbl:active:after {
  transform: scale(1.15, 0.85);
}
.cbx:checked ~ label {
  background: #6fbeb5;
}
.cbx:checked ~ label:after {
  left: 20px;
  background: #179588;
  border-color: #6fbeb5;
}
.cbx:disabled ~ label {
  background: #d5d5d5;
  pointer-events: none;
}
.cbx:disabled ~ label:after {
  background: #bcbdbc;
}
.cntr {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.press {
    margin-top: 5px;
    margin-left: 10px;
}
.hidden {
  display: none;
}
.fancy_form .form-control {
    border: none;
    background: #fff;
    border-bottom: 1px solid #d9d9d9;
    padding: 3px 0;
}
.fancy_form .form-control:focus {
    box-shadow: none !important;
    outline: none !important;
    border-color: #3498db;
}
.fancy_form .input-group-text {
    background: #fff;
    border: none;
}
.number-input {
    position: relative;
}
.number-input .num-input-change {
    position: absolute;
    right: 0;
    background: #fff;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
}
.number-input .num-input-change span {
    display: block;
    font-size: 14px;
    font-weight: 100;
    cursor: pointer;
}
.btn, label {
    cursor: pointer;
}
.animated-checkbox input[type=checkbox] {
    display: none;
}
.animated-checkbox {
    position: relative;
    cursor: pointer;
}
.animated-checkbox span.label-text {
    margin-left: 20px;
}
.animated-checkbox span.label-text:after, .animated-checkbox span.label-text:before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    position: absolute;
    left: 0;
    top: 3px;
    font-size: 10px;
    color: #fff;
    text-align: center;
    line-height: 13px;
}
.animated-checkbox span.label-text:after {
    border: 1px solid #333;
}
.animated-checkbox input[disabled]+span.label-text:after {
    border-color: #ccc;
    cursor: not-allowed;
}
@keyframes zoomIn {
    from {
        transform: scale(1.3, 1.3);
    }
    to {
        transform: scale(1,1);
    }
}
@-webkit-keyframes zoomIn {
    from {
        -webkit-transform: scale(1.3, 1.3);
    }
    to {
        -webkit-transform: scale(1,1);
    }
}
.animated-checkbox input[type=checkbox]:checked+span.label-text:after {
    content: "\2713";
    background: #333;
    -webkit-animation: zoomIn .3s;
            animation: zoomIn .3s;
}
.upload_image {
    display: block;
    text-align: center;
}
.upload_image input[type=file] {
    display: none;
}
.upload_image img {
    border: 1px solid #ccc;
    width: 100%;
}

/* autocomplete */
.autocomplete {
    position: relative;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

/* End Form Elements */

/* Select 2 */
.select2-container.select2 {
    width: 100% !important;
}
.select2-container--default .select2-selection--single, .select2-container--default .select2-selection--multiple {
    border-radius: 1px;
    border: 1px solid #ced4da;
}
.select2-container .select2-selection--single, .select2-container--default .select2-selection--single .select2-selection__rendered {
    height: 38px;
    line-height: 34px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 36px;
}
img.table-img {
    width: 70px;
    height: 70px;
    object-fit: contain;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Loader */
.loading-bg, .loading-body {
    position: fixed;
    z-index: 999;
}
.loading-bg {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5);
    cursor: wait;
}
.loading-body {
    left: 50%;
    top: 50%;
    width: 128px;
    height: 128px;
    margin-top: -64px;
    margin-left: -64px;
}
.loading-body img {
    width: 128px;
    height: 128px;
    object-fit: contain;
}
@keyframes rotateAll {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
.loading-body .loader-border:after {
    content: "";
    position: absolute;
    top: -30px;
    left: -30px;
    bottom: -30px;
    right: -30px;
    border-radius: 50%;
    border: 5px solid;
    border-right-color: transparent;
    border-left-color: transparent;
    animation: rotateAll 1s linear infinite;
}


/* Plan Your Trip */
#buildtour {
    align-content: center;
}
.place {
    font-size: 18px;
    text-transform: uppercase;
    align-self: center;
}
#buildtour .boxcolor {
    background-color: #eceff1;
    padding-top: 2px;
    padding-bottom: 2px;
}
#buildtour .caption {
    text-transform: uppercase;
    color: #878787;
    font-size: 9px;
}
.nightparent .btn.btn-lg.btncolor {
    background-color: #eceff1;
    border: medium none!important;
    border-radius: 0!important;
}
.nightparent .btn.btn-lg.plus-minus {
    background-color: #212121;
    border-left: 0 none!important;
    border-radius: 0!important;
    color: #fff;
    padding: 6.5px 10px;
    width: 65px;
}
.night-count {
    font-size: 19px;
    padding-right: 25px;
}
span.spinner {
    position: absolute;
    background: #9b696c;
    top: 0;
    bottom: 0;
    margin: 6px 0px;
    right: 5px;
    width: 25px;
    text-align: center;
    align-content: center;
}
span.spinner .sub, span.spinner .add {
    display: block;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}
.checkinbrd {
    border-left: 1px solid #d4d4d4;
}
#buildtour .icon-button {
    align-self: center;

}
#buildtour [class^='icon-'] {
    margin-top: 6px;
    color: #9b6567;
    cursor: move;
    font-size: 25px;
}
#buildtour .icon-clear {
    cursor: pointer;
}

.vertical-tabs {
    margin: 0;
    padding: 0;
    list-style: none;
}
.vertical-tabs li a {
    display: block;
    color: inherit;
    padding: 15px 15px;
    background: #fff;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.vertical-tabs li.active a, .vertical-tabs li:hover a {
    text-decoration: none;
}
.vertical-tabs li.active a {
    color: #fff;
}
.hotel-box {
    background: #fff;
    margin-bottom: 30px;
}
.hotel-box img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.hotel-box .hotel-content {
    box-shadow: 1px 1px 1px 1px #e1e1e166;
    border: 1px solid #e4e4e4;
    border-top: 2px solid;
    padding: 10px 15px;
}
.hotel-box .hotel-name {
    font-weight: bold;
    font-size: 1.2em;
}
.hotel-place:not(.active) {
    display: none;
}
/* End Plan Your Trip */

/* Popup */
.popup-container:not(.show) {
    display: none;
}
@keyframes zoomOut {
    from {
        transform: translate(-50%, -50%) scale(0, 0);
    }
    to {
        transform: translate(-50%, -50%) scale(1, 1);
    }
}
.popup-container.show .popup-body {
    animation: zoomOut .5s;
}
.popup-bg, .popup-body {
    position: fixed;
    z-index: 9;
}
.popup-bg {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
}
.popup-body {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 15px;
    border-radius: 3px;
    overflow: hidden;
}
.popup-heading {
    margin: -16px -16px 16px -16px;
    padding: 10px 16px;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
}
.close-icon {
    position: absolute;
    top: -3px;
    right: 5px;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    transition: all .3s ease;
    text-decoration: none;
}
.close-icon:hover {
    color: #ccc;
    text-decoration: none;
}
