body {
    font-family: 'Open Sans', sans-serif;
    background: #ebebeb;
    color: #555;
}
body.dash_body {
    background: #ebebeb;
    min-height: 100vh;
}
a {
    color: #2c3e50;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    color: #16a085;
    text-decoration: none;
}
.card {
    background: #fff;
    padding: 15px;
    border-radius: 0;
    border: none;
}
.card>.card-title {
    padding: 10px 15px;
    color: #fff;
    font-size: 18px;
    background: #2c3e50;
    margin: -15px -15px 15px -15px;
    text-transform: uppercase;
    /*height: 52px;*/
    display: flex;
    flex-wrap: wrap;
    -webkit-align-content: center;
            align-content: center;
}
.card>.list-group {
    margin: 0 -15px -15px -15px;
}
.card .list-group-item {
    border: 0;
    border-top: 1px solid rgba(0,0,0,.125);
    margin-bottom: 0;
}
.card .list-group-item:first-child, .card .list-group-item:last-child, .card>.list-group:last-child .list-group-item:last-child {
    border-radius: 0;
}
.card.warning {
    background: #ffeaa7;
}
.card.warning ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.card.warning ul li:not(:last-child) {
    border-bottom: 1px solid #fdcb6e;
    margin-bottom: 5px;
}
.card.warning>h3.card-title {
    background: #fdcb6e;
    color: inherit;
}
.page-header {
    background: #fff;
    padding: 15px 0;
}
.page-header h1 {
    text-transform: uppercase;
    line-height: 100%;
    margin: 0;
    font-size: 24px;
    color: #2c3e50;
    font-weight: bold;
}
.breadcrumbs {
    margin: 0;
    padding: 0;
    list-style: none;
}
.breadcrumbs li {
    float: left;
    margin-right: 5px;
    color: #555;
}
.breadcrumbs li a {
    font-weight: normal;
    text-decoration: underline;
}
.breadcrumbs li:not(.active):after {
    content: "/ ";
    margin-left: 5px;
}

/* Header Part Start */
header {
    background: #2c3e50;
}
ul.header-menu, ul.header-menu>li>ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.header-menu>li {
    position: relative;
    float: left;
    white-space: nowrap;
}
ul.header-menu>li>a, ul.header-menu>li>ul li a {
    display: block;
    padding: 5px 15px;
    color: #fff;
    text-decoration: none;
}
ul.header-menu>li:hover>a {
    background: #16a085;
}
ul.header-menu>li>ul {
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 1;
    background: #16a085;
    transform-origin: 0 0;
    transition: 0.5s;
    transform: rotateX(-90deg);
}
ul.header-menu>li>ul>li {
    position: relative;
    min-width: 150px;
}
ul.header-menu>li>ul ul {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    background: #666;
}
ul.header-menu>li>ul>li:hover>ul {
    display: block;
}
ul.header-menu>li:hover>ul {
    transform: rotateX(0);
}
ul.header-menu>li>ul li:hover>a {
    background: #1abc9c;
}
/* Header Part End */

/* Form Elements Start */
.form-control, .input-group-text, .bootstrap-tagsinput input {
    border-radius: 0;
    background: #f9f9f9;
}
.form-control:focus, .bootstrap-tagsinput input:focus {
    box-shadow: none;
    border-color: #3498db;
    background: #fff;
}
.upload_image input[type=file] {
    display: none;
}
.upload_image img {
    border: 1px solid #ccc;
}
.bootstrap-tagsinput input {
    display: inline-block;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-clip: padding-box;
    background: #fff;
    border: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.bootstrap-tagsinput {
    display: block;
    border-radius: 0;
}
.label-info {
    background: #3498db;
    padding: 1px 5px;
    border-radius: 3px;
}

.form-control, .btn {
    border-radius: 3px;
}
.btn-default {
    background: #f5f5f5;
    border: 1px solid #ccc;
}
.btn-default:hover {
    background: #f1f1f1;
}
.btn-primary {
    background: #2c3e50;
    border-color: #2c3e50;
}
.btn-primary:hover {
    background: #16a085;
    border-color: #16a085;
}
.animated-checkbox input[type=checkbox] {
    display: none;
}
.animated-checkbox {
    position: relative;
    cursor: pointer;
}
.animated-checkbox span.label-text {
    margin-left: 25px;
}
.animated-checkbox span.label-text:after, .animated-checkbox span.label-text:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    text-align: center;
    line-height: 18px;
}
.animated-checkbox span.label-text:after {
    border: 1px solid #333;
}
.animated-checkbox input[disabled]+span.label-text:after {
    border-color: #ccc;
    cursor: not-allowed;
}
.animated-checkbox input[type=checkbox]:checked+span.label-text:after {
    content: "\2713";
    background: #333;
}
/* Form Elements End */

/* Login Page Start */
.login-page {
    height: 100vh;
}
.login-page .half {
    height: 50vh;
    background: #2c3e50;
}
#loginForm {
    width: 450px;
    background: #fff;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* Login Page End */

/* Dashboard Start */
.dash-icon {
    font-size: 72px;
    margin-bottom: 15px;
}
.dash-panel .card {
    min-height: 450px;
}
/* Dashboard End */
