a:hover {
    color: #333;
}
.sidebar_header {
    background: #333;
}
.left_sidebar>ul>li.active>a, .left_sidebar>ul>li:hover>a {
    border-left: 5px solid #333;
}
.left_sidebar>ul>li>a {
    color: #333;
}
.left_sidebar>ul>li>ul {
    background: #a9a9a9;
}
.breadcrumb a {
    color: #333;
}
.btn-primary {
    background: #333;
    border-color: #333;
}
.btn-primary:hover {
    background: #111;
    border-color: #111;
}

/* Login Page Start */
.login-page .half {
    background: #333;
}
/* Login Page End */
