a:hover {
    color: #15ba9c;
}
.sidebar_header {
    background: #15ba9c;
}
.left_sidebar>ul>li.active>a, .left_sidebar>ul>li:hover>a {
    border-left: 5px solid #15ba9c;
}
.left_sidebar>ul>li>a {
    color: #15ba9c;
}
.left_sidebar>ul>li>ul {
    background: #0b8a73;
}
.breadcrumb a {
    color: #15ba9c;
}
.btn-primary {
    background: #15ba9c;
    border-color: #15ba9c;
}
.btn-primary:hover {
    background: #0aa78b;
    border-color: #0aa78b;
}

/* Login Page Start */
.login-page .half {
    background: #15ba9c;
}
/* Login Page End */
